/*
Argo Server API

You can get examples of requests and responses by using the CLI with `--gloglevel=9`, e.g. `argo list --gloglevel=9`

API version: VERSION
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
	"reflect"
)

// Linger please
var (
	_ _context.Context
)

// EventSourceServiceApiService EventSourceServiceApi service
type EventSourceServiceApiService service

type ApiEventSourceServiceCreateEventSourceRequest struct {
	ctx _context.Context
	ApiService *EventSourceServiceApiService
	namespace string
	body *EventsourceCreateEventSourceRequest
}

func (r ApiEventSourceServiceCreateEventSourceRequest) Body(body EventsourceCreateEventSourceRequest) ApiEventSourceServiceCreateEventSourceRequest {
	r.body = &body
	return r
}

func (r ApiEventSourceServiceCreateEventSourceRequest) Execute() (IoArgoprojEventsV1alpha1EventSource, *_nethttp.Response, error) {
	return r.ApiService.EventSourceServiceCreateEventSourceExecute(r)
}

/*
EventSourceServiceCreateEventSource Method for EventSourceServiceCreateEventSource

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @return ApiEventSourceServiceCreateEventSourceRequest
*/
func (a *EventSourceServiceApiService) EventSourceServiceCreateEventSource(ctx _context.Context, namespace string) ApiEventSourceServiceCreateEventSourceRequest {
	return ApiEventSourceServiceCreateEventSourceRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return IoArgoprojEventsV1alpha1EventSource
func (a *EventSourceServiceApiService) EventSourceServiceCreateEventSourceExecute(r ApiEventSourceServiceCreateEventSourceRequest) (IoArgoprojEventsV1alpha1EventSource, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IoArgoprojEventsV1alpha1EventSource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventSourceServiceApiService.EventSourceServiceCreateEventSource")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/event-sources/{namespace}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEventSourceServiceDeleteEventSourceRequest struct {
	ctx _context.Context
	ApiService *EventSourceServiceApiService
	namespace string
	name string
	deleteOptionsGracePeriodSeconds *string
	deleteOptionsPreconditionsUid *string
	deleteOptionsPreconditionsResourceVersion *string
	deleteOptionsOrphanDependents *bool
	deleteOptionsPropagationPolicy *string
	deleteOptionsDryRun *[]string
}

// The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately. +optional.
func (r ApiEventSourceServiceDeleteEventSourceRequest) DeleteOptionsGracePeriodSeconds(deleteOptionsGracePeriodSeconds string) ApiEventSourceServiceDeleteEventSourceRequest {
	r.deleteOptionsGracePeriodSeconds = &deleteOptionsGracePeriodSeconds
	return r
}
// Specifies the target UID. +optional.
func (r ApiEventSourceServiceDeleteEventSourceRequest) DeleteOptionsPreconditionsUid(deleteOptionsPreconditionsUid string) ApiEventSourceServiceDeleteEventSourceRequest {
	r.deleteOptionsPreconditionsUid = &deleteOptionsPreconditionsUid
	return r
}
// Specifies the target ResourceVersion +optional.
func (r ApiEventSourceServiceDeleteEventSourceRequest) DeleteOptionsPreconditionsResourceVersion(deleteOptionsPreconditionsResourceVersion string) ApiEventSourceServiceDeleteEventSourceRequest {
	r.deleteOptionsPreconditionsResourceVersion = &deleteOptionsPreconditionsResourceVersion
	return r
}
// Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \&quot;orphan\&quot; finalizer will be added to/removed from the object&#39;s finalizers list. Either this field or PropagationPolicy may be set, but not both. +optional.
func (r ApiEventSourceServiceDeleteEventSourceRequest) DeleteOptionsOrphanDependents(deleteOptionsOrphanDependents bool) ApiEventSourceServiceDeleteEventSourceRequest {
	r.deleteOptionsOrphanDependents = &deleteOptionsOrphanDependents
	return r
}
// Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: &#39;Orphan&#39; - orphan the dependents; &#39;Background&#39; - allow the garbage collector to delete the dependents in the background; &#39;Foreground&#39; - a cascading policy that deletes all dependents in the foreground. +optional.
func (r ApiEventSourceServiceDeleteEventSourceRequest) DeleteOptionsPropagationPolicy(deleteOptionsPropagationPolicy string) ApiEventSourceServiceDeleteEventSourceRequest {
	r.deleteOptionsPropagationPolicy = &deleteOptionsPropagationPolicy
	return r
}
// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed +optional.
func (r ApiEventSourceServiceDeleteEventSourceRequest) DeleteOptionsDryRun(deleteOptionsDryRun []string) ApiEventSourceServiceDeleteEventSourceRequest {
	r.deleteOptionsDryRun = &deleteOptionsDryRun
	return r
}

func (r ApiEventSourceServiceDeleteEventSourceRequest) Execute() (map[string]interface{}, *_nethttp.Response, error) {
	return r.ApiService.EventSourceServiceDeleteEventSourceExecute(r)
}

/*
EventSourceServiceDeleteEventSource Method for EventSourceServiceDeleteEventSource

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param name
 @return ApiEventSourceServiceDeleteEventSourceRequest
*/
func (a *EventSourceServiceApiService) EventSourceServiceDeleteEventSource(ctx _context.Context, namespace string, name string) ApiEventSourceServiceDeleteEventSourceRequest {
	return ApiEventSourceServiceDeleteEventSourceRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *EventSourceServiceApiService) EventSourceServiceDeleteEventSourceExecute(r ApiEventSourceServiceDeleteEventSourceRequest) (map[string]interface{}, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventSourceServiceApiService.EventSourceServiceDeleteEventSource")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/event-sources/{namespace}/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", _neturl.PathEscape(parameterToString(r.name, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.deleteOptionsGracePeriodSeconds != nil {
		localVarQueryParams.Add("deleteOptions.gracePeriodSeconds", parameterToString(*r.deleteOptionsGracePeriodSeconds, ""))
	}
	if r.deleteOptionsPreconditionsUid != nil {
		localVarQueryParams.Add("deleteOptions.preconditions.uid", parameterToString(*r.deleteOptionsPreconditionsUid, ""))
	}
	if r.deleteOptionsPreconditionsResourceVersion != nil {
		localVarQueryParams.Add("deleteOptions.preconditions.resourceVersion", parameterToString(*r.deleteOptionsPreconditionsResourceVersion, ""))
	}
	if r.deleteOptionsOrphanDependents != nil {
		localVarQueryParams.Add("deleteOptions.orphanDependents", parameterToString(*r.deleteOptionsOrphanDependents, ""))
	}
	if r.deleteOptionsPropagationPolicy != nil {
		localVarQueryParams.Add("deleteOptions.propagationPolicy", parameterToString(*r.deleteOptionsPropagationPolicy, ""))
	}
	if r.deleteOptionsDryRun != nil {
		t := *r.deleteOptionsDryRun
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("deleteOptions.dryRun", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("deleteOptions.dryRun", parameterToString(t, "multi"))
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEventSourceServiceEventSourcesLogsRequest struct {
	ctx _context.Context
	ApiService *EventSourceServiceApiService
	namespace string
	name *string
	eventSourceType *string
	eventName *string
	grep *string
	podLogOptionsContainer *string
	podLogOptionsFollow *bool
	podLogOptionsPrevious *bool
	podLogOptionsSinceSeconds *string
	podLogOptionsSinceTimeSeconds *string
	podLogOptionsSinceTimeNanos *int32
	podLogOptionsTimestamps *bool
	podLogOptionsTailLines *string
	podLogOptionsLimitBytes *string
	podLogOptionsInsecureSkipTLSVerifyBackend *bool
}

// optional - only return entries for this event source.
func (r ApiEventSourceServiceEventSourcesLogsRequest) Name(name string) ApiEventSourceServiceEventSourcesLogsRequest {
	r.name = &name
	return r
}
// optional - only return entries for this event source type (e.g. &#x60;webhook&#x60;).
func (r ApiEventSourceServiceEventSourcesLogsRequest) EventSourceType(eventSourceType string) ApiEventSourceServiceEventSourcesLogsRequest {
	r.eventSourceType = &eventSourceType
	return r
}
// optional - only return entries for this event name (e.g. &#x60;example&#x60;).
func (r ApiEventSourceServiceEventSourcesLogsRequest) EventName(eventName string) ApiEventSourceServiceEventSourcesLogsRequest {
	r.eventName = &eventName
	return r
}
// optional - only return entries where &#x60;msg&#x60; matches this regular expression.
func (r ApiEventSourceServiceEventSourcesLogsRequest) Grep(grep string) ApiEventSourceServiceEventSourcesLogsRequest {
	r.grep = &grep
	return r
}
// The container for which to stream logs. Defaults to only container if there is one container in the pod. +optional.
func (r ApiEventSourceServiceEventSourcesLogsRequest) PodLogOptionsContainer(podLogOptionsContainer string) ApiEventSourceServiceEventSourcesLogsRequest {
	r.podLogOptionsContainer = &podLogOptionsContainer
	return r
}
// Follow the log stream of the pod. Defaults to false. +optional.
func (r ApiEventSourceServiceEventSourcesLogsRequest) PodLogOptionsFollow(podLogOptionsFollow bool) ApiEventSourceServiceEventSourcesLogsRequest {
	r.podLogOptionsFollow = &podLogOptionsFollow
	return r
}
// Return previous terminated container logs. Defaults to false. +optional.
func (r ApiEventSourceServiceEventSourcesLogsRequest) PodLogOptionsPrevious(podLogOptionsPrevious bool) ApiEventSourceServiceEventSourcesLogsRequest {
	r.podLogOptionsPrevious = &podLogOptionsPrevious
	return r
}
// A relative time in seconds before the current time from which to show logs. If this value precedes the time a pod was started, only logs since the pod start will be returned. If this value is in the future, no logs will be returned. Only one of sinceSeconds or sinceTime may be specified. +optional.
func (r ApiEventSourceServiceEventSourcesLogsRequest) PodLogOptionsSinceSeconds(podLogOptionsSinceSeconds string) ApiEventSourceServiceEventSourcesLogsRequest {
	r.podLogOptionsSinceSeconds = &podLogOptionsSinceSeconds
	return r
}
// Represents seconds of UTC time since Unix epoch 1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59Z inclusive.
func (r ApiEventSourceServiceEventSourcesLogsRequest) PodLogOptionsSinceTimeSeconds(podLogOptionsSinceTimeSeconds string) ApiEventSourceServiceEventSourcesLogsRequest {
	r.podLogOptionsSinceTimeSeconds = &podLogOptionsSinceTimeSeconds
	return r
}
// Non-negative fractions of a second at nanosecond resolution. Negative second values with fractions must still have non-negative nanos values that count forward in time. Must be from 0 to 999,999,999 inclusive. This field may be limited in precision depending on context.
func (r ApiEventSourceServiceEventSourcesLogsRequest) PodLogOptionsSinceTimeNanos(podLogOptionsSinceTimeNanos int32) ApiEventSourceServiceEventSourcesLogsRequest {
	r.podLogOptionsSinceTimeNanos = &podLogOptionsSinceTimeNanos
	return r
}
// If true, add an RFC3339 or RFC3339Nano timestamp at the beginning of every line of log output. Defaults to false. +optional.
func (r ApiEventSourceServiceEventSourcesLogsRequest) PodLogOptionsTimestamps(podLogOptionsTimestamps bool) ApiEventSourceServiceEventSourcesLogsRequest {
	r.podLogOptionsTimestamps = &podLogOptionsTimestamps
	return r
}
// If set, the number of lines from the end of the logs to show. If not specified, logs are shown from the creation of the container or sinceSeconds or sinceTime +optional.
func (r ApiEventSourceServiceEventSourcesLogsRequest) PodLogOptionsTailLines(podLogOptionsTailLines string) ApiEventSourceServiceEventSourcesLogsRequest {
	r.podLogOptionsTailLines = &podLogOptionsTailLines
	return r
}
// If set, the number of bytes to read from the server before terminating the log output. This may not display a complete final line of logging, and may return slightly more or slightly less than the specified limit. +optional.
func (r ApiEventSourceServiceEventSourcesLogsRequest) PodLogOptionsLimitBytes(podLogOptionsLimitBytes string) ApiEventSourceServiceEventSourcesLogsRequest {
	r.podLogOptionsLimitBytes = &podLogOptionsLimitBytes
	return r
}
// insecureSkipTLSVerifyBackend indicates that the apiserver should not confirm the validity of the serving certificate of the backend it is connecting to.  This will make the HTTPS connection between the apiserver and the backend insecure. This means the apiserver cannot verify the log data it is receiving came from the real kubelet.  If the kubelet is configured to verify the apiserver&#39;s TLS credentials, it does not mean the connection to the real kubelet is vulnerable to a man in the middle attack (e.g. an attacker could not intercept the actual log data coming from the real kubelet). +optional.
func (r ApiEventSourceServiceEventSourcesLogsRequest) PodLogOptionsInsecureSkipTLSVerifyBackend(podLogOptionsInsecureSkipTLSVerifyBackend bool) ApiEventSourceServiceEventSourcesLogsRequest {
	r.podLogOptionsInsecureSkipTLSVerifyBackend = &podLogOptionsInsecureSkipTLSVerifyBackend
	return r
}

func (r ApiEventSourceServiceEventSourcesLogsRequest) Execute() (StreamResultOfEventsourceLogEntry, *_nethttp.Response, error) {
	return r.ApiService.EventSourceServiceEventSourcesLogsExecute(r)
}

/*
EventSourceServiceEventSourcesLogs Method for EventSourceServiceEventSourcesLogs

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @return ApiEventSourceServiceEventSourcesLogsRequest
*/
func (a *EventSourceServiceApiService) EventSourceServiceEventSourcesLogs(ctx _context.Context, namespace string) ApiEventSourceServiceEventSourcesLogsRequest {
	return ApiEventSourceServiceEventSourcesLogsRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return StreamResultOfEventsourceLogEntry
func (a *EventSourceServiceApiService) EventSourceServiceEventSourcesLogsExecute(r ApiEventSourceServiceEventSourcesLogsRequest) (StreamResultOfEventsourceLogEntry, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  StreamResultOfEventsourceLogEntry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventSourceServiceApiService.EventSourceServiceEventSourcesLogs")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/stream/event-sources/{namespace}/logs"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.name != nil {
		localVarQueryParams.Add("name", parameterToString(*r.name, ""))
	}
	if r.eventSourceType != nil {
		localVarQueryParams.Add("eventSourceType", parameterToString(*r.eventSourceType, ""))
	}
	if r.eventName != nil {
		localVarQueryParams.Add("eventName", parameterToString(*r.eventName, ""))
	}
	if r.grep != nil {
		localVarQueryParams.Add("grep", parameterToString(*r.grep, ""))
	}
	if r.podLogOptionsContainer != nil {
		localVarQueryParams.Add("podLogOptions.container", parameterToString(*r.podLogOptionsContainer, ""))
	}
	if r.podLogOptionsFollow != nil {
		localVarQueryParams.Add("podLogOptions.follow", parameterToString(*r.podLogOptionsFollow, ""))
	}
	if r.podLogOptionsPrevious != nil {
		localVarQueryParams.Add("podLogOptions.previous", parameterToString(*r.podLogOptionsPrevious, ""))
	}
	if r.podLogOptionsSinceSeconds != nil {
		localVarQueryParams.Add("podLogOptions.sinceSeconds", parameterToString(*r.podLogOptionsSinceSeconds, ""))
	}
	if r.podLogOptionsSinceTimeSeconds != nil {
		localVarQueryParams.Add("podLogOptions.sinceTime.seconds", parameterToString(*r.podLogOptionsSinceTimeSeconds, ""))
	}
	if r.podLogOptionsSinceTimeNanos != nil {
		localVarQueryParams.Add("podLogOptions.sinceTime.nanos", parameterToString(*r.podLogOptionsSinceTimeNanos, ""))
	}
	if r.podLogOptionsTimestamps != nil {
		localVarQueryParams.Add("podLogOptions.timestamps", parameterToString(*r.podLogOptionsTimestamps, ""))
	}
	if r.podLogOptionsTailLines != nil {
		localVarQueryParams.Add("podLogOptions.tailLines", parameterToString(*r.podLogOptionsTailLines, ""))
	}
	if r.podLogOptionsLimitBytes != nil {
		localVarQueryParams.Add("podLogOptions.limitBytes", parameterToString(*r.podLogOptionsLimitBytes, ""))
	}
	if r.podLogOptionsInsecureSkipTLSVerifyBackend != nil {
		localVarQueryParams.Add("podLogOptions.insecureSkipTLSVerifyBackend", parameterToString(*r.podLogOptionsInsecureSkipTLSVerifyBackend, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEventSourceServiceGetEventSourceRequest struct {
	ctx _context.Context
	ApiService *EventSourceServiceApiService
	namespace string
	name string
}


func (r ApiEventSourceServiceGetEventSourceRequest) Execute() (IoArgoprojEventsV1alpha1EventSource, *_nethttp.Response, error) {
	return r.ApiService.EventSourceServiceGetEventSourceExecute(r)
}

/*
EventSourceServiceGetEventSource Method for EventSourceServiceGetEventSource

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param name
 @return ApiEventSourceServiceGetEventSourceRequest
*/
func (a *EventSourceServiceApiService) EventSourceServiceGetEventSource(ctx _context.Context, namespace string, name string) ApiEventSourceServiceGetEventSourceRequest {
	return ApiEventSourceServiceGetEventSourceRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return IoArgoprojEventsV1alpha1EventSource
func (a *EventSourceServiceApiService) EventSourceServiceGetEventSourceExecute(r ApiEventSourceServiceGetEventSourceRequest) (IoArgoprojEventsV1alpha1EventSource, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IoArgoprojEventsV1alpha1EventSource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventSourceServiceApiService.EventSourceServiceGetEventSource")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/event-sources/{namespace}/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", _neturl.PathEscape(parameterToString(r.name, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEventSourceServiceListEventSourcesRequest struct {
	ctx _context.Context
	ApiService *EventSourceServiceApiService
	namespace string
	listOptionsLabelSelector *string
	listOptionsFieldSelector *string
	listOptionsWatch *bool
	listOptionsAllowWatchBookmarks *bool
	listOptionsResourceVersion *string
	listOptionsResourceVersionMatch *string
	listOptionsTimeoutSeconds *string
	listOptionsLimit *string
	listOptionsContinue *string
}

// A selector to restrict the list of returned objects by their labels. Defaults to everything. +optional.
func (r ApiEventSourceServiceListEventSourcesRequest) ListOptionsLabelSelector(listOptionsLabelSelector string) ApiEventSourceServiceListEventSourcesRequest {
	r.listOptionsLabelSelector = &listOptionsLabelSelector
	return r
}
// A selector to restrict the list of returned objects by their fields. Defaults to everything. +optional.
func (r ApiEventSourceServiceListEventSourcesRequest) ListOptionsFieldSelector(listOptionsFieldSelector string) ApiEventSourceServiceListEventSourcesRequest {
	r.listOptionsFieldSelector = &listOptionsFieldSelector
	return r
}
// Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion. +optional.
func (r ApiEventSourceServiceListEventSourcesRequest) ListOptionsWatch(listOptionsWatch bool) ApiEventSourceServiceListEventSourcesRequest {
	r.listOptionsWatch = &listOptionsWatch
	return r
}
// allowWatchBookmarks requests watch events with type \&quot;BOOKMARK\&quot;. Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server&#39;s discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored. If the feature gate WatchBookmarks is not enabled in apiserver, this field is ignored. +optional.
func (r ApiEventSourceServiceListEventSourcesRequest) ListOptionsAllowWatchBookmarks(listOptionsAllowWatchBookmarks bool) ApiEventSourceServiceListEventSourcesRequest {
	r.listOptionsAllowWatchBookmarks = &listOptionsAllowWatchBookmarks
	return r
}
// resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset +optional
func (r ApiEventSourceServiceListEventSourcesRequest) ListOptionsResourceVersion(listOptionsResourceVersion string) ApiEventSourceServiceListEventSourcesRequest {
	r.listOptionsResourceVersion = &listOptionsResourceVersion
	return r
}
// resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset +optional
func (r ApiEventSourceServiceListEventSourcesRequest) ListOptionsResourceVersionMatch(listOptionsResourceVersionMatch string) ApiEventSourceServiceListEventSourcesRequest {
	r.listOptionsResourceVersionMatch = &listOptionsResourceVersionMatch
	return r
}
// Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity. +optional.
func (r ApiEventSourceServiceListEventSourcesRequest) ListOptionsTimeoutSeconds(listOptionsTimeoutSeconds string) ApiEventSourceServiceListEventSourcesRequest {
	r.listOptionsTimeoutSeconds = &listOptionsTimeoutSeconds
	return r
}
// limit is a maximum number of responses to return for a list call. If more items exist, the server will set the &#x60;continue&#x60; field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.  The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
func (r ApiEventSourceServiceListEventSourcesRequest) ListOptionsLimit(listOptionsLimit string) ApiEventSourceServiceListEventSourcesRequest {
	r.listOptionsLimit = &listOptionsLimit
	return r
}
// The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \&quot;next key\&quot;.  This field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.
func (r ApiEventSourceServiceListEventSourcesRequest) ListOptionsContinue(listOptionsContinue string) ApiEventSourceServiceListEventSourcesRequest {
	r.listOptionsContinue = &listOptionsContinue
	return r
}

func (r ApiEventSourceServiceListEventSourcesRequest) Execute() (IoArgoprojEventsV1alpha1EventSourceList, *_nethttp.Response, error) {
	return r.ApiService.EventSourceServiceListEventSourcesExecute(r)
}

/*
EventSourceServiceListEventSources Method for EventSourceServiceListEventSources

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @return ApiEventSourceServiceListEventSourcesRequest
*/
func (a *EventSourceServiceApiService) EventSourceServiceListEventSources(ctx _context.Context, namespace string) ApiEventSourceServiceListEventSourcesRequest {
	return ApiEventSourceServiceListEventSourcesRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return IoArgoprojEventsV1alpha1EventSourceList
func (a *EventSourceServiceApiService) EventSourceServiceListEventSourcesExecute(r ApiEventSourceServiceListEventSourcesRequest) (IoArgoprojEventsV1alpha1EventSourceList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IoArgoprojEventsV1alpha1EventSourceList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventSourceServiceApiService.EventSourceServiceListEventSources")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/event-sources/{namespace}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.listOptionsLabelSelector != nil {
		localVarQueryParams.Add("listOptions.labelSelector", parameterToString(*r.listOptionsLabelSelector, ""))
	}
	if r.listOptionsFieldSelector != nil {
		localVarQueryParams.Add("listOptions.fieldSelector", parameterToString(*r.listOptionsFieldSelector, ""))
	}
	if r.listOptionsWatch != nil {
		localVarQueryParams.Add("listOptions.watch", parameterToString(*r.listOptionsWatch, ""))
	}
	if r.listOptionsAllowWatchBookmarks != nil {
		localVarQueryParams.Add("listOptions.allowWatchBookmarks", parameterToString(*r.listOptionsAllowWatchBookmarks, ""))
	}
	if r.listOptionsResourceVersion != nil {
		localVarQueryParams.Add("listOptions.resourceVersion", parameterToString(*r.listOptionsResourceVersion, ""))
	}
	if r.listOptionsResourceVersionMatch != nil {
		localVarQueryParams.Add("listOptions.resourceVersionMatch", parameterToString(*r.listOptionsResourceVersionMatch, ""))
	}
	if r.listOptionsTimeoutSeconds != nil {
		localVarQueryParams.Add("listOptions.timeoutSeconds", parameterToString(*r.listOptionsTimeoutSeconds, ""))
	}
	if r.listOptionsLimit != nil {
		localVarQueryParams.Add("listOptions.limit", parameterToString(*r.listOptionsLimit, ""))
	}
	if r.listOptionsContinue != nil {
		localVarQueryParams.Add("listOptions.continue", parameterToString(*r.listOptionsContinue, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEventSourceServiceUpdateEventSourceRequest struct {
	ctx _context.Context
	ApiService *EventSourceServiceApiService
	namespace string
	name string
	body *EventsourceUpdateEventSourceRequest
}

func (r ApiEventSourceServiceUpdateEventSourceRequest) Body(body EventsourceUpdateEventSourceRequest) ApiEventSourceServiceUpdateEventSourceRequest {
	r.body = &body
	return r
}

func (r ApiEventSourceServiceUpdateEventSourceRequest) Execute() (IoArgoprojEventsV1alpha1EventSource, *_nethttp.Response, error) {
	return r.ApiService.EventSourceServiceUpdateEventSourceExecute(r)
}

/*
EventSourceServiceUpdateEventSource Method for EventSourceServiceUpdateEventSource

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param name
 @return ApiEventSourceServiceUpdateEventSourceRequest
*/
func (a *EventSourceServiceApiService) EventSourceServiceUpdateEventSource(ctx _context.Context, namespace string, name string) ApiEventSourceServiceUpdateEventSourceRequest {
	return ApiEventSourceServiceUpdateEventSourceRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return IoArgoprojEventsV1alpha1EventSource
func (a *EventSourceServiceApiService) EventSourceServiceUpdateEventSourceExecute(r ApiEventSourceServiceUpdateEventSourceRequest) (IoArgoprojEventsV1alpha1EventSource, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPut
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IoArgoprojEventsV1alpha1EventSource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventSourceServiceApiService.EventSourceServiceUpdateEventSource")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/event-sources/{namespace}/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", _neturl.PathEscape(parameterToString(r.name, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEventSourceServiceWatchEventSourcesRequest struct {
	ctx _context.Context
	ApiService *EventSourceServiceApiService
	namespace string
	listOptionsLabelSelector *string
	listOptionsFieldSelector *string
	listOptionsWatch *bool
	listOptionsAllowWatchBookmarks *bool
	listOptionsResourceVersion *string
	listOptionsResourceVersionMatch *string
	listOptionsTimeoutSeconds *string
	listOptionsLimit *string
	listOptionsContinue *string
}

// A selector to restrict the list of returned objects by their labels. Defaults to everything. +optional.
func (r ApiEventSourceServiceWatchEventSourcesRequest) ListOptionsLabelSelector(listOptionsLabelSelector string) ApiEventSourceServiceWatchEventSourcesRequest {
	r.listOptionsLabelSelector = &listOptionsLabelSelector
	return r
}
// A selector to restrict the list of returned objects by their fields. Defaults to everything. +optional.
func (r ApiEventSourceServiceWatchEventSourcesRequest) ListOptionsFieldSelector(listOptionsFieldSelector string) ApiEventSourceServiceWatchEventSourcesRequest {
	r.listOptionsFieldSelector = &listOptionsFieldSelector
	return r
}
// Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion. +optional.
func (r ApiEventSourceServiceWatchEventSourcesRequest) ListOptionsWatch(listOptionsWatch bool) ApiEventSourceServiceWatchEventSourcesRequest {
	r.listOptionsWatch = &listOptionsWatch
	return r
}
// allowWatchBookmarks requests watch events with type \&quot;BOOKMARK\&quot;. Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server&#39;s discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored. If the feature gate WatchBookmarks is not enabled in apiserver, this field is ignored. +optional.
func (r ApiEventSourceServiceWatchEventSourcesRequest) ListOptionsAllowWatchBookmarks(listOptionsAllowWatchBookmarks bool) ApiEventSourceServiceWatchEventSourcesRequest {
	r.listOptionsAllowWatchBookmarks = &listOptionsAllowWatchBookmarks
	return r
}
// resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset +optional
func (r ApiEventSourceServiceWatchEventSourcesRequest) ListOptionsResourceVersion(listOptionsResourceVersion string) ApiEventSourceServiceWatchEventSourcesRequest {
	r.listOptionsResourceVersion = &listOptionsResourceVersion
	return r
}
// resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset +optional
func (r ApiEventSourceServiceWatchEventSourcesRequest) ListOptionsResourceVersionMatch(listOptionsResourceVersionMatch string) ApiEventSourceServiceWatchEventSourcesRequest {
	r.listOptionsResourceVersionMatch = &listOptionsResourceVersionMatch
	return r
}
// Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity. +optional.
func (r ApiEventSourceServiceWatchEventSourcesRequest) ListOptionsTimeoutSeconds(listOptionsTimeoutSeconds string) ApiEventSourceServiceWatchEventSourcesRequest {
	r.listOptionsTimeoutSeconds = &listOptionsTimeoutSeconds
	return r
}
// limit is a maximum number of responses to return for a list call. If more items exist, the server will set the &#x60;continue&#x60; field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.  The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
func (r ApiEventSourceServiceWatchEventSourcesRequest) ListOptionsLimit(listOptionsLimit string) ApiEventSourceServiceWatchEventSourcesRequest {
	r.listOptionsLimit = &listOptionsLimit
	return r
}
// The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \&quot;next key\&quot;.  This field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.
func (r ApiEventSourceServiceWatchEventSourcesRequest) ListOptionsContinue(listOptionsContinue string) ApiEventSourceServiceWatchEventSourcesRequest {
	r.listOptionsContinue = &listOptionsContinue
	return r
}

func (r ApiEventSourceServiceWatchEventSourcesRequest) Execute() (StreamResultOfEventsourceEventSourceWatchEvent, *_nethttp.Response, error) {
	return r.ApiService.EventSourceServiceWatchEventSourcesExecute(r)
}

/*
EventSourceServiceWatchEventSources Method for EventSourceServiceWatchEventSources

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @return ApiEventSourceServiceWatchEventSourcesRequest
*/
func (a *EventSourceServiceApiService) EventSourceServiceWatchEventSources(ctx _context.Context, namespace string) ApiEventSourceServiceWatchEventSourcesRequest {
	return ApiEventSourceServiceWatchEventSourcesRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return StreamResultOfEventsourceEventSourceWatchEvent
func (a *EventSourceServiceApiService) EventSourceServiceWatchEventSourcesExecute(r ApiEventSourceServiceWatchEventSourcesRequest) (StreamResultOfEventsourceEventSourceWatchEvent, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  StreamResultOfEventsourceEventSourceWatchEvent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventSourceServiceApiService.EventSourceServiceWatchEventSources")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/stream/event-sources/{namespace}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.listOptionsLabelSelector != nil {
		localVarQueryParams.Add("listOptions.labelSelector", parameterToString(*r.listOptionsLabelSelector, ""))
	}
	if r.listOptionsFieldSelector != nil {
		localVarQueryParams.Add("listOptions.fieldSelector", parameterToString(*r.listOptionsFieldSelector, ""))
	}
	if r.listOptionsWatch != nil {
		localVarQueryParams.Add("listOptions.watch", parameterToString(*r.listOptionsWatch, ""))
	}
	if r.listOptionsAllowWatchBookmarks != nil {
		localVarQueryParams.Add("listOptions.allowWatchBookmarks", parameterToString(*r.listOptionsAllowWatchBookmarks, ""))
	}
	if r.listOptionsResourceVersion != nil {
		localVarQueryParams.Add("listOptions.resourceVersion", parameterToString(*r.listOptionsResourceVersion, ""))
	}
	if r.listOptionsResourceVersionMatch != nil {
		localVarQueryParams.Add("listOptions.resourceVersionMatch", parameterToString(*r.listOptionsResourceVersionMatch, ""))
	}
	if r.listOptionsTimeoutSeconds != nil {
		localVarQueryParams.Add("listOptions.timeoutSeconds", parameterToString(*r.listOptionsTimeoutSeconds, ""))
	}
	if r.listOptionsLimit != nil {
		localVarQueryParams.Add("listOptions.limit", parameterToString(*r.listOptionsLimit, ""))
	}
	if r.listOptionsContinue != nil {
		localVarQueryParams.Add("listOptions.continue", parameterToString(*r.listOptionsContinue, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
