/*
Argo Server API

You can get examples of requests and responses by using the CLI with `--gloglevel=9`, e.g. `argo list --gloglevel=9`

API version: VERSION
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
	"reflect"
)

// Linger please
var (
	_ _context.Context
)

// WorkflowServiceApiService WorkflowServiceApi service
type WorkflowServiceApiService service

type ApiWorkflowServiceCreateWorkflowRequest struct {
	ctx _context.Context
	ApiService *WorkflowServiceApiService
	namespace string
	body *IoArgoprojWorkflowV1alpha1WorkflowCreateRequest
}

func (r ApiWorkflowServiceCreateWorkflowRequest) Body(body IoArgoprojWorkflowV1alpha1WorkflowCreateRequest) ApiWorkflowServiceCreateWorkflowRequest {
	r.body = &body
	return r
}

func (r ApiWorkflowServiceCreateWorkflowRequest) Execute() (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	return r.ApiService.WorkflowServiceCreateWorkflowExecute(r)
}

/*
WorkflowServiceCreateWorkflow Method for WorkflowServiceCreateWorkflow

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @return ApiWorkflowServiceCreateWorkflowRequest
*/
func (a *WorkflowServiceApiService) WorkflowServiceCreateWorkflow(ctx _context.Context, namespace string) ApiWorkflowServiceCreateWorkflowRequest {
	return ApiWorkflowServiceCreateWorkflowRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return IoArgoprojWorkflowV1alpha1Workflow
func (a *WorkflowServiceApiService) WorkflowServiceCreateWorkflowExecute(r ApiWorkflowServiceCreateWorkflowRequest) (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IoArgoprojWorkflowV1alpha1Workflow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowServiceApiService.WorkflowServiceCreateWorkflow")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/workflows/{namespace}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkflowServiceDeleteWorkflowRequest struct {
	ctx _context.Context
	ApiService *WorkflowServiceApiService
	namespace string
	name string
	deleteOptionsGracePeriodSeconds *string
	deleteOptionsPreconditionsUid *string
	deleteOptionsPreconditionsResourceVersion *string
	deleteOptionsOrphanDependents *bool
	deleteOptionsPropagationPolicy *string
	deleteOptionsDryRun *[]string
}

// The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately. +optional.
func (r ApiWorkflowServiceDeleteWorkflowRequest) DeleteOptionsGracePeriodSeconds(deleteOptionsGracePeriodSeconds string) ApiWorkflowServiceDeleteWorkflowRequest {
	r.deleteOptionsGracePeriodSeconds = &deleteOptionsGracePeriodSeconds
	return r
}
// Specifies the target UID. +optional.
func (r ApiWorkflowServiceDeleteWorkflowRequest) DeleteOptionsPreconditionsUid(deleteOptionsPreconditionsUid string) ApiWorkflowServiceDeleteWorkflowRequest {
	r.deleteOptionsPreconditionsUid = &deleteOptionsPreconditionsUid
	return r
}
// Specifies the target ResourceVersion +optional.
func (r ApiWorkflowServiceDeleteWorkflowRequest) DeleteOptionsPreconditionsResourceVersion(deleteOptionsPreconditionsResourceVersion string) ApiWorkflowServiceDeleteWorkflowRequest {
	r.deleteOptionsPreconditionsResourceVersion = &deleteOptionsPreconditionsResourceVersion
	return r
}
// Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \&quot;orphan\&quot; finalizer will be added to/removed from the object&#39;s finalizers list. Either this field or PropagationPolicy may be set, but not both. +optional.
func (r ApiWorkflowServiceDeleteWorkflowRequest) DeleteOptionsOrphanDependents(deleteOptionsOrphanDependents bool) ApiWorkflowServiceDeleteWorkflowRequest {
	r.deleteOptionsOrphanDependents = &deleteOptionsOrphanDependents
	return r
}
// Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: &#39;Orphan&#39; - orphan the dependents; &#39;Background&#39; - allow the garbage collector to delete the dependents in the background; &#39;Foreground&#39; - a cascading policy that deletes all dependents in the foreground. +optional.
func (r ApiWorkflowServiceDeleteWorkflowRequest) DeleteOptionsPropagationPolicy(deleteOptionsPropagationPolicy string) ApiWorkflowServiceDeleteWorkflowRequest {
	r.deleteOptionsPropagationPolicy = &deleteOptionsPropagationPolicy
	return r
}
// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed +optional.
func (r ApiWorkflowServiceDeleteWorkflowRequest) DeleteOptionsDryRun(deleteOptionsDryRun []string) ApiWorkflowServiceDeleteWorkflowRequest {
	r.deleteOptionsDryRun = &deleteOptionsDryRun
	return r
}

func (r ApiWorkflowServiceDeleteWorkflowRequest) Execute() (map[string]interface{}, *_nethttp.Response, error) {
	return r.ApiService.WorkflowServiceDeleteWorkflowExecute(r)
}

/*
WorkflowServiceDeleteWorkflow Method for WorkflowServiceDeleteWorkflow

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param name
 @return ApiWorkflowServiceDeleteWorkflowRequest
*/
func (a *WorkflowServiceApiService) WorkflowServiceDeleteWorkflow(ctx _context.Context, namespace string, name string) ApiWorkflowServiceDeleteWorkflowRequest {
	return ApiWorkflowServiceDeleteWorkflowRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *WorkflowServiceApiService) WorkflowServiceDeleteWorkflowExecute(r ApiWorkflowServiceDeleteWorkflowRequest) (map[string]interface{}, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowServiceApiService.WorkflowServiceDeleteWorkflow")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/workflows/{namespace}/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", _neturl.PathEscape(parameterToString(r.name, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.deleteOptionsGracePeriodSeconds != nil {
		localVarQueryParams.Add("deleteOptions.gracePeriodSeconds", parameterToString(*r.deleteOptionsGracePeriodSeconds, ""))
	}
	if r.deleteOptionsPreconditionsUid != nil {
		localVarQueryParams.Add("deleteOptions.preconditions.uid", parameterToString(*r.deleteOptionsPreconditionsUid, ""))
	}
	if r.deleteOptionsPreconditionsResourceVersion != nil {
		localVarQueryParams.Add("deleteOptions.preconditions.resourceVersion", parameterToString(*r.deleteOptionsPreconditionsResourceVersion, ""))
	}
	if r.deleteOptionsOrphanDependents != nil {
		localVarQueryParams.Add("deleteOptions.orphanDependents", parameterToString(*r.deleteOptionsOrphanDependents, ""))
	}
	if r.deleteOptionsPropagationPolicy != nil {
		localVarQueryParams.Add("deleteOptions.propagationPolicy", parameterToString(*r.deleteOptionsPropagationPolicy, ""))
	}
	if r.deleteOptionsDryRun != nil {
		t := *r.deleteOptionsDryRun
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("deleteOptions.dryRun", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("deleteOptions.dryRun", parameterToString(t, "multi"))
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkflowServiceGetWorkflowRequest struct {
	ctx _context.Context
	ApiService *WorkflowServiceApiService
	namespace string
	name string
	getOptionsResourceVersion *string
	fields *string
}

// resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset +optional
func (r ApiWorkflowServiceGetWorkflowRequest) GetOptionsResourceVersion(getOptionsResourceVersion string) ApiWorkflowServiceGetWorkflowRequest {
	r.getOptionsResourceVersion = &getOptionsResourceVersion
	return r
}
// Fields to be included or excluded in the response. e.g. \&quot;spec,status.phase\&quot;, \&quot;-status.nodes\&quot;.
func (r ApiWorkflowServiceGetWorkflowRequest) Fields(fields string) ApiWorkflowServiceGetWorkflowRequest {
	r.fields = &fields
	return r
}

func (r ApiWorkflowServiceGetWorkflowRequest) Execute() (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	return r.ApiService.WorkflowServiceGetWorkflowExecute(r)
}

/*
WorkflowServiceGetWorkflow Method for WorkflowServiceGetWorkflow

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param name
 @return ApiWorkflowServiceGetWorkflowRequest
*/
func (a *WorkflowServiceApiService) WorkflowServiceGetWorkflow(ctx _context.Context, namespace string, name string) ApiWorkflowServiceGetWorkflowRequest {
	return ApiWorkflowServiceGetWorkflowRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return IoArgoprojWorkflowV1alpha1Workflow
func (a *WorkflowServiceApiService) WorkflowServiceGetWorkflowExecute(r ApiWorkflowServiceGetWorkflowRequest) (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IoArgoprojWorkflowV1alpha1Workflow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowServiceApiService.WorkflowServiceGetWorkflow")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/workflows/{namespace}/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", _neturl.PathEscape(parameterToString(r.name, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.getOptionsResourceVersion != nil {
		localVarQueryParams.Add("getOptions.resourceVersion", parameterToString(*r.getOptionsResourceVersion, ""))
	}
	if r.fields != nil {
		localVarQueryParams.Add("fields", parameterToString(*r.fields, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkflowServiceLintWorkflowRequest struct {
	ctx _context.Context
	ApiService *WorkflowServiceApiService
	namespace string
	body *IoArgoprojWorkflowV1alpha1WorkflowLintRequest
}

func (r ApiWorkflowServiceLintWorkflowRequest) Body(body IoArgoprojWorkflowV1alpha1WorkflowLintRequest) ApiWorkflowServiceLintWorkflowRequest {
	r.body = &body
	return r
}

func (r ApiWorkflowServiceLintWorkflowRequest) Execute() (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	return r.ApiService.WorkflowServiceLintWorkflowExecute(r)
}

/*
WorkflowServiceLintWorkflow Method for WorkflowServiceLintWorkflow

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @return ApiWorkflowServiceLintWorkflowRequest
*/
func (a *WorkflowServiceApiService) WorkflowServiceLintWorkflow(ctx _context.Context, namespace string) ApiWorkflowServiceLintWorkflowRequest {
	return ApiWorkflowServiceLintWorkflowRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return IoArgoprojWorkflowV1alpha1Workflow
func (a *WorkflowServiceApiService) WorkflowServiceLintWorkflowExecute(r ApiWorkflowServiceLintWorkflowRequest) (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IoArgoprojWorkflowV1alpha1Workflow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowServiceApiService.WorkflowServiceLintWorkflow")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/workflows/{namespace}/lint"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkflowServiceListWorkflowsRequest struct {
	ctx _context.Context
	ApiService *WorkflowServiceApiService
	namespace string
	listOptionsLabelSelector *string
	listOptionsFieldSelector *string
	listOptionsWatch *bool
	listOptionsAllowWatchBookmarks *bool
	listOptionsResourceVersion *string
	listOptionsResourceVersionMatch *string
	listOptionsTimeoutSeconds *string
	listOptionsLimit *string
	listOptionsContinue *string
	fields *string
}

// A selector to restrict the list of returned objects by their labels. Defaults to everything. +optional.
func (r ApiWorkflowServiceListWorkflowsRequest) ListOptionsLabelSelector(listOptionsLabelSelector string) ApiWorkflowServiceListWorkflowsRequest {
	r.listOptionsLabelSelector = &listOptionsLabelSelector
	return r
}
// A selector to restrict the list of returned objects by their fields. Defaults to everything. +optional.
func (r ApiWorkflowServiceListWorkflowsRequest) ListOptionsFieldSelector(listOptionsFieldSelector string) ApiWorkflowServiceListWorkflowsRequest {
	r.listOptionsFieldSelector = &listOptionsFieldSelector
	return r
}
// Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion. +optional.
func (r ApiWorkflowServiceListWorkflowsRequest) ListOptionsWatch(listOptionsWatch bool) ApiWorkflowServiceListWorkflowsRequest {
	r.listOptionsWatch = &listOptionsWatch
	return r
}
// allowWatchBookmarks requests watch events with type \&quot;BOOKMARK\&quot;. Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server&#39;s discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored. If the feature gate WatchBookmarks is not enabled in apiserver, this field is ignored. +optional.
func (r ApiWorkflowServiceListWorkflowsRequest) ListOptionsAllowWatchBookmarks(listOptionsAllowWatchBookmarks bool) ApiWorkflowServiceListWorkflowsRequest {
	r.listOptionsAllowWatchBookmarks = &listOptionsAllowWatchBookmarks
	return r
}
// resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset +optional
func (r ApiWorkflowServiceListWorkflowsRequest) ListOptionsResourceVersion(listOptionsResourceVersion string) ApiWorkflowServiceListWorkflowsRequest {
	r.listOptionsResourceVersion = &listOptionsResourceVersion
	return r
}
// resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset +optional
func (r ApiWorkflowServiceListWorkflowsRequest) ListOptionsResourceVersionMatch(listOptionsResourceVersionMatch string) ApiWorkflowServiceListWorkflowsRequest {
	r.listOptionsResourceVersionMatch = &listOptionsResourceVersionMatch
	return r
}
// Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity. +optional.
func (r ApiWorkflowServiceListWorkflowsRequest) ListOptionsTimeoutSeconds(listOptionsTimeoutSeconds string) ApiWorkflowServiceListWorkflowsRequest {
	r.listOptionsTimeoutSeconds = &listOptionsTimeoutSeconds
	return r
}
// limit is a maximum number of responses to return for a list call. If more items exist, the server will set the &#x60;continue&#x60; field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.  The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
func (r ApiWorkflowServiceListWorkflowsRequest) ListOptionsLimit(listOptionsLimit string) ApiWorkflowServiceListWorkflowsRequest {
	r.listOptionsLimit = &listOptionsLimit
	return r
}
// The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \&quot;next key\&quot;.  This field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.
func (r ApiWorkflowServiceListWorkflowsRequest) ListOptionsContinue(listOptionsContinue string) ApiWorkflowServiceListWorkflowsRequest {
	r.listOptionsContinue = &listOptionsContinue
	return r
}
// Fields to be included or excluded in the response. e.g. \&quot;items.spec,items.status.phase\&quot;, \&quot;-items.status.nodes\&quot;.
func (r ApiWorkflowServiceListWorkflowsRequest) Fields(fields string) ApiWorkflowServiceListWorkflowsRequest {
	r.fields = &fields
	return r
}

func (r ApiWorkflowServiceListWorkflowsRequest) Execute() (IoArgoprojWorkflowV1alpha1WorkflowList, *_nethttp.Response, error) {
	return r.ApiService.WorkflowServiceListWorkflowsExecute(r)
}

/*
WorkflowServiceListWorkflows Method for WorkflowServiceListWorkflows

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @return ApiWorkflowServiceListWorkflowsRequest
*/
func (a *WorkflowServiceApiService) WorkflowServiceListWorkflows(ctx _context.Context, namespace string) ApiWorkflowServiceListWorkflowsRequest {
	return ApiWorkflowServiceListWorkflowsRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return IoArgoprojWorkflowV1alpha1WorkflowList
func (a *WorkflowServiceApiService) WorkflowServiceListWorkflowsExecute(r ApiWorkflowServiceListWorkflowsRequest) (IoArgoprojWorkflowV1alpha1WorkflowList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IoArgoprojWorkflowV1alpha1WorkflowList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowServiceApiService.WorkflowServiceListWorkflows")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/workflows/{namespace}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.listOptionsLabelSelector != nil {
		localVarQueryParams.Add("listOptions.labelSelector", parameterToString(*r.listOptionsLabelSelector, ""))
	}
	if r.listOptionsFieldSelector != nil {
		localVarQueryParams.Add("listOptions.fieldSelector", parameterToString(*r.listOptionsFieldSelector, ""))
	}
	if r.listOptionsWatch != nil {
		localVarQueryParams.Add("listOptions.watch", parameterToString(*r.listOptionsWatch, ""))
	}
	if r.listOptionsAllowWatchBookmarks != nil {
		localVarQueryParams.Add("listOptions.allowWatchBookmarks", parameterToString(*r.listOptionsAllowWatchBookmarks, ""))
	}
	if r.listOptionsResourceVersion != nil {
		localVarQueryParams.Add("listOptions.resourceVersion", parameterToString(*r.listOptionsResourceVersion, ""))
	}
	if r.listOptionsResourceVersionMatch != nil {
		localVarQueryParams.Add("listOptions.resourceVersionMatch", parameterToString(*r.listOptionsResourceVersionMatch, ""))
	}
	if r.listOptionsTimeoutSeconds != nil {
		localVarQueryParams.Add("listOptions.timeoutSeconds", parameterToString(*r.listOptionsTimeoutSeconds, ""))
	}
	if r.listOptionsLimit != nil {
		localVarQueryParams.Add("listOptions.limit", parameterToString(*r.listOptionsLimit, ""))
	}
	if r.listOptionsContinue != nil {
		localVarQueryParams.Add("listOptions.continue", parameterToString(*r.listOptionsContinue, ""))
	}
	if r.fields != nil {
		localVarQueryParams.Add("fields", parameterToString(*r.fields, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkflowServicePodLogsRequest struct {
	ctx _context.Context
	ApiService *WorkflowServiceApiService
	namespace string
	name string
	podName string
	logOptionsContainer *string
	logOptionsFollow *bool
	logOptionsPrevious *bool
	logOptionsSinceSeconds *string
	logOptionsSinceTimeSeconds *string
	logOptionsSinceTimeNanos *int32
	logOptionsTimestamps *bool
	logOptionsTailLines *string
	logOptionsLimitBytes *string
	logOptionsInsecureSkipTLSVerifyBackend *bool
	grep *string
}

// The container for which to stream logs. Defaults to only container if there is one container in the pod. +optional.
func (r ApiWorkflowServicePodLogsRequest) LogOptionsContainer(logOptionsContainer string) ApiWorkflowServicePodLogsRequest {
	r.logOptionsContainer = &logOptionsContainer
	return r
}
// Follow the log stream of the pod. Defaults to false. +optional.
func (r ApiWorkflowServicePodLogsRequest) LogOptionsFollow(logOptionsFollow bool) ApiWorkflowServicePodLogsRequest {
	r.logOptionsFollow = &logOptionsFollow
	return r
}
// Return previous terminated container logs. Defaults to false. +optional.
func (r ApiWorkflowServicePodLogsRequest) LogOptionsPrevious(logOptionsPrevious bool) ApiWorkflowServicePodLogsRequest {
	r.logOptionsPrevious = &logOptionsPrevious
	return r
}
// A relative time in seconds before the current time from which to show logs. If this value precedes the time a pod was started, only logs since the pod start will be returned. If this value is in the future, no logs will be returned. Only one of sinceSeconds or sinceTime may be specified. +optional.
func (r ApiWorkflowServicePodLogsRequest) LogOptionsSinceSeconds(logOptionsSinceSeconds string) ApiWorkflowServicePodLogsRequest {
	r.logOptionsSinceSeconds = &logOptionsSinceSeconds
	return r
}
// Represents seconds of UTC time since Unix epoch 1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59Z inclusive.
func (r ApiWorkflowServicePodLogsRequest) LogOptionsSinceTimeSeconds(logOptionsSinceTimeSeconds string) ApiWorkflowServicePodLogsRequest {
	r.logOptionsSinceTimeSeconds = &logOptionsSinceTimeSeconds
	return r
}
// Non-negative fractions of a second at nanosecond resolution. Negative second values with fractions must still have non-negative nanos values that count forward in time. Must be from 0 to 999,999,999 inclusive. This field may be limited in precision depending on context.
func (r ApiWorkflowServicePodLogsRequest) LogOptionsSinceTimeNanos(logOptionsSinceTimeNanos int32) ApiWorkflowServicePodLogsRequest {
	r.logOptionsSinceTimeNanos = &logOptionsSinceTimeNanos
	return r
}
// If true, add an RFC3339 or RFC3339Nano timestamp at the beginning of every line of log output. Defaults to false. +optional.
func (r ApiWorkflowServicePodLogsRequest) LogOptionsTimestamps(logOptionsTimestamps bool) ApiWorkflowServicePodLogsRequest {
	r.logOptionsTimestamps = &logOptionsTimestamps
	return r
}
// If set, the number of lines from the end of the logs to show. If not specified, logs are shown from the creation of the container or sinceSeconds or sinceTime +optional.
func (r ApiWorkflowServicePodLogsRequest) LogOptionsTailLines(logOptionsTailLines string) ApiWorkflowServicePodLogsRequest {
	r.logOptionsTailLines = &logOptionsTailLines
	return r
}
// If set, the number of bytes to read from the server before terminating the log output. This may not display a complete final line of logging, and may return slightly more or slightly less than the specified limit. +optional.
func (r ApiWorkflowServicePodLogsRequest) LogOptionsLimitBytes(logOptionsLimitBytes string) ApiWorkflowServicePodLogsRequest {
	r.logOptionsLimitBytes = &logOptionsLimitBytes
	return r
}
// insecureSkipTLSVerifyBackend indicates that the apiserver should not confirm the validity of the serving certificate of the backend it is connecting to.  This will make the HTTPS connection between the apiserver and the backend insecure. This means the apiserver cannot verify the log data it is receiving came from the real kubelet.  If the kubelet is configured to verify the apiserver&#39;s TLS credentials, it does not mean the connection to the real kubelet is vulnerable to a man in the middle attack (e.g. an attacker could not intercept the actual log data coming from the real kubelet). +optional.
func (r ApiWorkflowServicePodLogsRequest) LogOptionsInsecureSkipTLSVerifyBackend(logOptionsInsecureSkipTLSVerifyBackend bool) ApiWorkflowServicePodLogsRequest {
	r.logOptionsInsecureSkipTLSVerifyBackend = &logOptionsInsecureSkipTLSVerifyBackend
	return r
}
func (r ApiWorkflowServicePodLogsRequest) Grep(grep string) ApiWorkflowServicePodLogsRequest {
	r.grep = &grep
	return r
}

func (r ApiWorkflowServicePodLogsRequest) Execute() (StreamResultOfIoArgoprojWorkflowV1alpha1LogEntry, *_nethttp.Response, error) {
	return r.ApiService.WorkflowServicePodLogsExecute(r)
}

/*
WorkflowServicePodLogs DEPRECATED: Cannot work via HTTP if podName is an empty string. Use WorkflowLogs.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param name
 @param podName
 @return ApiWorkflowServicePodLogsRequest
*/
func (a *WorkflowServiceApiService) WorkflowServicePodLogs(ctx _context.Context, namespace string, name string, podName string) ApiWorkflowServicePodLogsRequest {
	return ApiWorkflowServicePodLogsRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
		podName: podName,
	}
}

// Execute executes the request
//  @return StreamResultOfIoArgoprojWorkflowV1alpha1LogEntry
func (a *WorkflowServiceApiService) WorkflowServicePodLogsExecute(r ApiWorkflowServicePodLogsRequest) (StreamResultOfIoArgoprojWorkflowV1alpha1LogEntry, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  StreamResultOfIoArgoprojWorkflowV1alpha1LogEntry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowServiceApiService.WorkflowServicePodLogs")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/workflows/{namespace}/{name}/{podName}/log"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", _neturl.PathEscape(parameterToString(r.name, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"podName"+"}", _neturl.PathEscape(parameterToString(r.podName, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.logOptionsContainer != nil {
		localVarQueryParams.Add("logOptions.container", parameterToString(*r.logOptionsContainer, ""))
	}
	if r.logOptionsFollow != nil {
		localVarQueryParams.Add("logOptions.follow", parameterToString(*r.logOptionsFollow, ""))
	}
	if r.logOptionsPrevious != nil {
		localVarQueryParams.Add("logOptions.previous", parameterToString(*r.logOptionsPrevious, ""))
	}
	if r.logOptionsSinceSeconds != nil {
		localVarQueryParams.Add("logOptions.sinceSeconds", parameterToString(*r.logOptionsSinceSeconds, ""))
	}
	if r.logOptionsSinceTimeSeconds != nil {
		localVarQueryParams.Add("logOptions.sinceTime.seconds", parameterToString(*r.logOptionsSinceTimeSeconds, ""))
	}
	if r.logOptionsSinceTimeNanos != nil {
		localVarQueryParams.Add("logOptions.sinceTime.nanos", parameterToString(*r.logOptionsSinceTimeNanos, ""))
	}
	if r.logOptionsTimestamps != nil {
		localVarQueryParams.Add("logOptions.timestamps", parameterToString(*r.logOptionsTimestamps, ""))
	}
	if r.logOptionsTailLines != nil {
		localVarQueryParams.Add("logOptions.tailLines", parameterToString(*r.logOptionsTailLines, ""))
	}
	if r.logOptionsLimitBytes != nil {
		localVarQueryParams.Add("logOptions.limitBytes", parameterToString(*r.logOptionsLimitBytes, ""))
	}
	if r.logOptionsInsecureSkipTLSVerifyBackend != nil {
		localVarQueryParams.Add("logOptions.insecureSkipTLSVerifyBackend", parameterToString(*r.logOptionsInsecureSkipTLSVerifyBackend, ""))
	}
	if r.grep != nil {
		localVarQueryParams.Add("grep", parameterToString(*r.grep, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkflowServiceResubmitWorkflowRequest struct {
	ctx _context.Context
	ApiService *WorkflowServiceApiService
	namespace string
	name string
	body *IoArgoprojWorkflowV1alpha1WorkflowResubmitRequest
}

func (r ApiWorkflowServiceResubmitWorkflowRequest) Body(body IoArgoprojWorkflowV1alpha1WorkflowResubmitRequest) ApiWorkflowServiceResubmitWorkflowRequest {
	r.body = &body
	return r
}

func (r ApiWorkflowServiceResubmitWorkflowRequest) Execute() (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	return r.ApiService.WorkflowServiceResubmitWorkflowExecute(r)
}

/*
WorkflowServiceResubmitWorkflow Method for WorkflowServiceResubmitWorkflow

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param name
 @return ApiWorkflowServiceResubmitWorkflowRequest
*/
func (a *WorkflowServiceApiService) WorkflowServiceResubmitWorkflow(ctx _context.Context, namespace string, name string) ApiWorkflowServiceResubmitWorkflowRequest {
	return ApiWorkflowServiceResubmitWorkflowRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return IoArgoprojWorkflowV1alpha1Workflow
func (a *WorkflowServiceApiService) WorkflowServiceResubmitWorkflowExecute(r ApiWorkflowServiceResubmitWorkflowRequest) (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPut
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IoArgoprojWorkflowV1alpha1Workflow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowServiceApiService.WorkflowServiceResubmitWorkflow")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/workflows/{namespace}/{name}/resubmit"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", _neturl.PathEscape(parameterToString(r.name, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkflowServiceResumeWorkflowRequest struct {
	ctx _context.Context
	ApiService *WorkflowServiceApiService
	namespace string
	name string
	body *IoArgoprojWorkflowV1alpha1WorkflowResumeRequest
}

func (r ApiWorkflowServiceResumeWorkflowRequest) Body(body IoArgoprojWorkflowV1alpha1WorkflowResumeRequest) ApiWorkflowServiceResumeWorkflowRequest {
	r.body = &body
	return r
}

func (r ApiWorkflowServiceResumeWorkflowRequest) Execute() (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	return r.ApiService.WorkflowServiceResumeWorkflowExecute(r)
}

/*
WorkflowServiceResumeWorkflow Method for WorkflowServiceResumeWorkflow

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param name
 @return ApiWorkflowServiceResumeWorkflowRequest
*/
func (a *WorkflowServiceApiService) WorkflowServiceResumeWorkflow(ctx _context.Context, namespace string, name string) ApiWorkflowServiceResumeWorkflowRequest {
	return ApiWorkflowServiceResumeWorkflowRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return IoArgoprojWorkflowV1alpha1Workflow
func (a *WorkflowServiceApiService) WorkflowServiceResumeWorkflowExecute(r ApiWorkflowServiceResumeWorkflowRequest) (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPut
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IoArgoprojWorkflowV1alpha1Workflow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowServiceApiService.WorkflowServiceResumeWorkflow")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/workflows/{namespace}/{name}/resume"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", _neturl.PathEscape(parameterToString(r.name, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkflowServiceRetryWorkflowRequest struct {
	ctx _context.Context
	ApiService *WorkflowServiceApiService
	namespace string
	name string
	body *IoArgoprojWorkflowV1alpha1WorkflowRetryRequest
}

func (r ApiWorkflowServiceRetryWorkflowRequest) Body(body IoArgoprojWorkflowV1alpha1WorkflowRetryRequest) ApiWorkflowServiceRetryWorkflowRequest {
	r.body = &body
	return r
}

func (r ApiWorkflowServiceRetryWorkflowRequest) Execute() (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	return r.ApiService.WorkflowServiceRetryWorkflowExecute(r)
}

/*
WorkflowServiceRetryWorkflow Method for WorkflowServiceRetryWorkflow

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param name
 @return ApiWorkflowServiceRetryWorkflowRequest
*/
func (a *WorkflowServiceApiService) WorkflowServiceRetryWorkflow(ctx _context.Context, namespace string, name string) ApiWorkflowServiceRetryWorkflowRequest {
	return ApiWorkflowServiceRetryWorkflowRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return IoArgoprojWorkflowV1alpha1Workflow
func (a *WorkflowServiceApiService) WorkflowServiceRetryWorkflowExecute(r ApiWorkflowServiceRetryWorkflowRequest) (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPut
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IoArgoprojWorkflowV1alpha1Workflow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowServiceApiService.WorkflowServiceRetryWorkflow")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/workflows/{namespace}/{name}/retry"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", _neturl.PathEscape(parameterToString(r.name, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkflowServiceSetWorkflowRequest struct {
	ctx _context.Context
	ApiService *WorkflowServiceApiService
	namespace string
	name string
	body *IoArgoprojWorkflowV1alpha1WorkflowSetRequest
}

func (r ApiWorkflowServiceSetWorkflowRequest) Body(body IoArgoprojWorkflowV1alpha1WorkflowSetRequest) ApiWorkflowServiceSetWorkflowRequest {
	r.body = &body
	return r
}

func (r ApiWorkflowServiceSetWorkflowRequest) Execute() (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	return r.ApiService.WorkflowServiceSetWorkflowExecute(r)
}

/*
WorkflowServiceSetWorkflow Method for WorkflowServiceSetWorkflow

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param name
 @return ApiWorkflowServiceSetWorkflowRequest
*/
func (a *WorkflowServiceApiService) WorkflowServiceSetWorkflow(ctx _context.Context, namespace string, name string) ApiWorkflowServiceSetWorkflowRequest {
	return ApiWorkflowServiceSetWorkflowRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return IoArgoprojWorkflowV1alpha1Workflow
func (a *WorkflowServiceApiService) WorkflowServiceSetWorkflowExecute(r ApiWorkflowServiceSetWorkflowRequest) (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPut
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IoArgoprojWorkflowV1alpha1Workflow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowServiceApiService.WorkflowServiceSetWorkflow")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/workflows/{namespace}/{name}/set"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", _neturl.PathEscape(parameterToString(r.name, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkflowServiceStopWorkflowRequest struct {
	ctx _context.Context
	ApiService *WorkflowServiceApiService
	namespace string
	name string
	body *IoArgoprojWorkflowV1alpha1WorkflowStopRequest
}

func (r ApiWorkflowServiceStopWorkflowRequest) Body(body IoArgoprojWorkflowV1alpha1WorkflowStopRequest) ApiWorkflowServiceStopWorkflowRequest {
	r.body = &body
	return r
}

func (r ApiWorkflowServiceStopWorkflowRequest) Execute() (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	return r.ApiService.WorkflowServiceStopWorkflowExecute(r)
}

/*
WorkflowServiceStopWorkflow Method for WorkflowServiceStopWorkflow

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param name
 @return ApiWorkflowServiceStopWorkflowRequest
*/
func (a *WorkflowServiceApiService) WorkflowServiceStopWorkflow(ctx _context.Context, namespace string, name string) ApiWorkflowServiceStopWorkflowRequest {
	return ApiWorkflowServiceStopWorkflowRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return IoArgoprojWorkflowV1alpha1Workflow
func (a *WorkflowServiceApiService) WorkflowServiceStopWorkflowExecute(r ApiWorkflowServiceStopWorkflowRequest) (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPut
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IoArgoprojWorkflowV1alpha1Workflow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowServiceApiService.WorkflowServiceStopWorkflow")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/workflows/{namespace}/{name}/stop"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", _neturl.PathEscape(parameterToString(r.name, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkflowServiceSubmitWorkflowRequest struct {
	ctx _context.Context
	ApiService *WorkflowServiceApiService
	namespace string
	body *IoArgoprojWorkflowV1alpha1WorkflowSubmitRequest
}

func (r ApiWorkflowServiceSubmitWorkflowRequest) Body(body IoArgoprojWorkflowV1alpha1WorkflowSubmitRequest) ApiWorkflowServiceSubmitWorkflowRequest {
	r.body = &body
	return r
}

func (r ApiWorkflowServiceSubmitWorkflowRequest) Execute() (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	return r.ApiService.WorkflowServiceSubmitWorkflowExecute(r)
}

/*
WorkflowServiceSubmitWorkflow Method for WorkflowServiceSubmitWorkflow

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @return ApiWorkflowServiceSubmitWorkflowRequest
*/
func (a *WorkflowServiceApiService) WorkflowServiceSubmitWorkflow(ctx _context.Context, namespace string) ApiWorkflowServiceSubmitWorkflowRequest {
	return ApiWorkflowServiceSubmitWorkflowRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return IoArgoprojWorkflowV1alpha1Workflow
func (a *WorkflowServiceApiService) WorkflowServiceSubmitWorkflowExecute(r ApiWorkflowServiceSubmitWorkflowRequest) (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IoArgoprojWorkflowV1alpha1Workflow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowServiceApiService.WorkflowServiceSubmitWorkflow")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/workflows/{namespace}/submit"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkflowServiceSuspendWorkflowRequest struct {
	ctx _context.Context
	ApiService *WorkflowServiceApiService
	namespace string
	name string
	body *IoArgoprojWorkflowV1alpha1WorkflowSuspendRequest
}

func (r ApiWorkflowServiceSuspendWorkflowRequest) Body(body IoArgoprojWorkflowV1alpha1WorkflowSuspendRequest) ApiWorkflowServiceSuspendWorkflowRequest {
	r.body = &body
	return r
}

func (r ApiWorkflowServiceSuspendWorkflowRequest) Execute() (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	return r.ApiService.WorkflowServiceSuspendWorkflowExecute(r)
}

/*
WorkflowServiceSuspendWorkflow Method for WorkflowServiceSuspendWorkflow

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param name
 @return ApiWorkflowServiceSuspendWorkflowRequest
*/
func (a *WorkflowServiceApiService) WorkflowServiceSuspendWorkflow(ctx _context.Context, namespace string, name string) ApiWorkflowServiceSuspendWorkflowRequest {
	return ApiWorkflowServiceSuspendWorkflowRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return IoArgoprojWorkflowV1alpha1Workflow
func (a *WorkflowServiceApiService) WorkflowServiceSuspendWorkflowExecute(r ApiWorkflowServiceSuspendWorkflowRequest) (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPut
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IoArgoprojWorkflowV1alpha1Workflow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowServiceApiService.WorkflowServiceSuspendWorkflow")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/workflows/{namespace}/{name}/suspend"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", _neturl.PathEscape(parameterToString(r.name, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkflowServiceTerminateWorkflowRequest struct {
	ctx _context.Context
	ApiService *WorkflowServiceApiService
	namespace string
	name string
	body *IoArgoprojWorkflowV1alpha1WorkflowTerminateRequest
}

func (r ApiWorkflowServiceTerminateWorkflowRequest) Body(body IoArgoprojWorkflowV1alpha1WorkflowTerminateRequest) ApiWorkflowServiceTerminateWorkflowRequest {
	r.body = &body
	return r
}

func (r ApiWorkflowServiceTerminateWorkflowRequest) Execute() (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	return r.ApiService.WorkflowServiceTerminateWorkflowExecute(r)
}

/*
WorkflowServiceTerminateWorkflow Method for WorkflowServiceTerminateWorkflow

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param name
 @return ApiWorkflowServiceTerminateWorkflowRequest
*/
func (a *WorkflowServiceApiService) WorkflowServiceTerminateWorkflow(ctx _context.Context, namespace string, name string) ApiWorkflowServiceTerminateWorkflowRequest {
	return ApiWorkflowServiceTerminateWorkflowRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		name: name,
	}
}

// Execute executes the request
//  @return IoArgoprojWorkflowV1alpha1Workflow
func (a *WorkflowServiceApiService) WorkflowServiceTerminateWorkflowExecute(r ApiWorkflowServiceTerminateWorkflowRequest) (IoArgoprojWorkflowV1alpha1Workflow, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPut
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IoArgoprojWorkflowV1alpha1Workflow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowServiceApiService.WorkflowServiceTerminateWorkflow")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/workflows/{namespace}/{name}/terminate"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", _neturl.PathEscape(parameterToString(r.name, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkflowServiceWatchEventsRequest struct {
	ctx _context.Context
	ApiService *WorkflowServiceApiService
	namespace string
	listOptionsLabelSelector *string
	listOptionsFieldSelector *string
	listOptionsWatch *bool
	listOptionsAllowWatchBookmarks *bool
	listOptionsResourceVersion *string
	listOptionsResourceVersionMatch *string
	listOptionsTimeoutSeconds *string
	listOptionsLimit *string
	listOptionsContinue *string
}

// A selector to restrict the list of returned objects by their labels. Defaults to everything. +optional.
func (r ApiWorkflowServiceWatchEventsRequest) ListOptionsLabelSelector(listOptionsLabelSelector string) ApiWorkflowServiceWatchEventsRequest {
	r.listOptionsLabelSelector = &listOptionsLabelSelector
	return r
}
// A selector to restrict the list of returned objects by their fields. Defaults to everything. +optional.
func (r ApiWorkflowServiceWatchEventsRequest) ListOptionsFieldSelector(listOptionsFieldSelector string) ApiWorkflowServiceWatchEventsRequest {
	r.listOptionsFieldSelector = &listOptionsFieldSelector
	return r
}
// Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion. +optional.
func (r ApiWorkflowServiceWatchEventsRequest) ListOptionsWatch(listOptionsWatch bool) ApiWorkflowServiceWatchEventsRequest {
	r.listOptionsWatch = &listOptionsWatch
	return r
}
// allowWatchBookmarks requests watch events with type \&quot;BOOKMARK\&quot;. Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server&#39;s discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored. If the feature gate WatchBookmarks is not enabled in apiserver, this field is ignored. +optional.
func (r ApiWorkflowServiceWatchEventsRequest) ListOptionsAllowWatchBookmarks(listOptionsAllowWatchBookmarks bool) ApiWorkflowServiceWatchEventsRequest {
	r.listOptionsAllowWatchBookmarks = &listOptionsAllowWatchBookmarks
	return r
}
// resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset +optional
func (r ApiWorkflowServiceWatchEventsRequest) ListOptionsResourceVersion(listOptionsResourceVersion string) ApiWorkflowServiceWatchEventsRequest {
	r.listOptionsResourceVersion = &listOptionsResourceVersion
	return r
}
// resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset +optional
func (r ApiWorkflowServiceWatchEventsRequest) ListOptionsResourceVersionMatch(listOptionsResourceVersionMatch string) ApiWorkflowServiceWatchEventsRequest {
	r.listOptionsResourceVersionMatch = &listOptionsResourceVersionMatch
	return r
}
// Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity. +optional.
func (r ApiWorkflowServiceWatchEventsRequest) ListOptionsTimeoutSeconds(listOptionsTimeoutSeconds string) ApiWorkflowServiceWatchEventsRequest {
	r.listOptionsTimeoutSeconds = &listOptionsTimeoutSeconds
	return r
}
// limit is a maximum number of responses to return for a list call. If more items exist, the server will set the &#x60;continue&#x60; field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.  The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
func (r ApiWorkflowServiceWatchEventsRequest) ListOptionsLimit(listOptionsLimit string) ApiWorkflowServiceWatchEventsRequest {
	r.listOptionsLimit = &listOptionsLimit
	return r
}
// The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \&quot;next key\&quot;.  This field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.
func (r ApiWorkflowServiceWatchEventsRequest) ListOptionsContinue(listOptionsContinue string) ApiWorkflowServiceWatchEventsRequest {
	r.listOptionsContinue = &listOptionsContinue
	return r
}

func (r ApiWorkflowServiceWatchEventsRequest) Execute() (StreamResultOfIoK8sApiCoreV1Event, *_nethttp.Response, error) {
	return r.ApiService.WorkflowServiceWatchEventsExecute(r)
}

/*
WorkflowServiceWatchEvents Method for WorkflowServiceWatchEvents

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @return ApiWorkflowServiceWatchEventsRequest
*/
func (a *WorkflowServiceApiService) WorkflowServiceWatchEvents(ctx _context.Context, namespace string) ApiWorkflowServiceWatchEventsRequest {
	return ApiWorkflowServiceWatchEventsRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return StreamResultOfIoK8sApiCoreV1Event
func (a *WorkflowServiceApiService) WorkflowServiceWatchEventsExecute(r ApiWorkflowServiceWatchEventsRequest) (StreamResultOfIoK8sApiCoreV1Event, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  StreamResultOfIoK8sApiCoreV1Event
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowServiceApiService.WorkflowServiceWatchEvents")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/argo/api/v1/stream/events/{namespace}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.listOptionsLabelSelector != nil {
		localVarQueryParams.Add("listOptions.labelSelector", parameterToString(*r.listOptionsLabelSelector, ""))
	}
	if r.listOptionsFieldSelector != nil {
		localVarQueryParams.Add("listOptions.fieldSelector", parameterToString(*r.listOptionsFieldSelector, ""))
	}
	if r.listOptionsWatch != nil {
		localVarQueryParams.Add("listOptions.watch", parameterToString(*r.listOptionsWatch, ""))
	}
	if r.listOptionsAllowWatchBookmarks != nil {
		localVarQueryParams.Add("listOptions.allowWatchBookmarks", parameterToString(*r.listOptionsAllowWatchBookmarks, ""))
	}
	if r.listOptionsResourceVersion != nil {
		localVarQueryParams.Add("listOptions.resourceVersion", parameterToString(*r.listOptionsResourceVersion, ""))
	}
	if r.listOptionsResourceVersionMatch != nil {
		localVarQueryParams.Add("listOptions.resourceVersionMatch", parameterToString(*r.listOptionsResourceVersionMatch, ""))
	}
	if r.listOptionsTimeoutSeconds != nil {
		localVarQueryParams.Add("listOptions.timeoutSeconds", parameterToString(*r.listOptionsTimeoutSeconds, ""))
	}
	if r.listOptionsLimit != nil {
		localVarQueryParams.Add("listOptions.limit", parameterToString(*r.listOptionsLimit, ""))
	}
	if r.listOptionsContinue != nil {
		localVarQueryParams.Add("listOptions.continue", parameterToString(*r.listOptionsContinue, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v GrpcGatewayRuntimeError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkflowServiceWatchWorkflowsRequest struct {
	ctx _context.Context
	ApiService *WorkflowServiceApiService
	namespace string
	listOptionsLabelSelector *string
	listOptionsFieldSelector *string
	listOptionsWatch *bool
	listOptionsAllowWatchBookmarks *bool
	listOptionsResourceVersion *string
	listOptionsResourceVersionMatch *string
	listOptionsTimeoutSeconds *string
	listOptionsLimit *string
	listOptionsContinue *string
	fields *string
}

// A selector to restrict the list of returned objects by their labels. Defaults to everything. +optional.
func (r ApiWorkflowServiceWatchWorkflowsRequest) ListOptionsLabelSelector(listOptionsLabelSelector string) ApiWorkflowServiceWatchWorkflowsRequest {
	r.listOptionsLabelSelector = &listOptionsLabelSelector
	return r
}
// A selector to restrict the list of returned objects by their fields. Defaults to everything. +optional.
func (r ApiWorkflowServiceWatchWorkflowsRequest) ListOptionsFieldSelector(listOptionsFieldSelector string) ApiWorkflowServiceWatchWorkflowsRequest {
	r.listOptionsFieldSelector = &listOptionsFieldSelector
	return r
}
// Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion. +optional.
func (r ApiWorkflowServiceWatchWorkflowsRequest) ListOptionsWatch(listOptionsWatch bool) ApiWorkflowServiceWatchWorkflowsRequest {
	r.listOptionsWatch = &listOptionsWatch
	return r
}
// allowWatchBookmarks requests watch events with type \&quot;BOOKMARK\&quot;. Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server&#39;s discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored. If the feature gate WatchBookmarks is not enabled in apiserver, this field is ignored. +optional.
func (r ApiWorkflowServiceWatchWorkflowsRequest) ListOptionsAllowWatchBookmarks(listOptionsAllowWatchBookmarks bool) ApiWorkflowServiceWatchWorkflowsRequest {
	r.listOptionsAllowWatchBookmarks = &listOptionsAllowWatchBookmarks
	return r
}
// resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset +optional
func (r ApiWorkflowServiceWatchWorkflowsRequest) ListOptionsResourceVersion(listOptionsResourceVersion string) ApiWorkflowServiceWatchWorkflowsRequest {
	r.listOptionsResourceVersion = &listOptionsResourceVersion
	return r
}
// resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset +optional
func (r ApiWorkflowServiceWatchWorkflowsRequest) ListOptionsResourceVersionMatch(listOptionsResourceVersionMatch string) ApiWorkflowServiceWatchWorkflowsRequest {
	r.listOptionsResourceVersionMatch = &listOptionsResourceVersionMatch
	return r
}
// Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity. +optional.
func (r ApiWorkflowServiceWatchWorkflowsRequest) ListOptionsTimeoutSeconds(listOptionsTimeoutSeconds string) ApiWorkflowServiceWatchWorkflowsRequest {
	r.listOptionsTimeoutSeconds = &listOptionsTimeoutSeconds
	return r
}
// limit is a maximum number of responses to return for a list call. If more items exist, the server will set the &#x60;continue&#x60; field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.  The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
func (r ApiWorkflowServiceWatchWorkflowsRequest) ListOptionsLimit(listOptionsLimit string) ApiWorkflowServiceWatchWorkflowsRequest {
	r.listOptionsLimit = &listOptionsLimit
	return r
}
[...]
